* {
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

section {
    height: 100vh;
    /* vh viewport(screen) height */
}

body {
    background-color: #F1F1F2;
}

#header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1995AD;
    padding-top: 10px;
    padding-bottom: 10px;
}

#content {
    height: calc(100vh - 140px);
    overflow: scroll;
    padding: 10px 20px;
    background-color: #f5fafc;
    font-size: 20px;
}

#content>p {
    margin-bottom: 20px;
   
    text-align: justify;
}

#content>h2 {
    font-family: "Playfair Display", serif;
}

#header>div {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#header>ul {
    display: flex;
    list-style-type: none;
}

#header>div>h1 {
    color: white;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
}

#header>ul>li>a:link,
#header>ul>li>a:visited {
    font-family: "Playfair Display", serif;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    background-color: #A1D6E2;
    font-size: 20px;

}

#header>ul>li>a:hover {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px black;
}

#footer {
    height: 60px;
    background-color: #1995AD;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* set footer sticky at bottom */
    position: sticky;
    bottom: 0px;
    left: 0px;
}